<div class="header__search">
    
   <form role="form" action="/" method="POST">
    <div class="form-group">
      <input  type="text"name="search" class="form-control empty" id="iconified" placeholder=" Search for news" required/>
     
    </div>
</form>
</div>